{% extends 'main.html' %}
{% block content %}
<script>
    function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result)
                        .width(600)
                        .height(400);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
</script>

<style>
    @media(max-width: 768px){
        #blah{
            margin-top: 10px;
        }
    }
</style>
<center><h2>Face and Speech Emotion Recognition </h2></center>
<br>
<div class="row">
    <div class="col-md-12">
        <center>
            <img id="blah" src="/static/images/All_Emotions_Detection.jpg" style="height:400px;box-shadow: 0 0 10px black;" class="img-fluid img-thumbnail">
        </center><br>
        <!-- Detect Live düğmesine tıklandığında video.html sayfasına yönlendirme -->
        <center><a href="{{ url_for('video') }}" class="btn btn-warning" style="width: 50%; background-color: green; color: white;">Detect Live</a></center>
        <!-- Ortak tahmin sonucunu göstermek için bir alan -->
        <center><p id="combinedEmotion"></p></center>
    </div>
</div>

<script>
    // Sayfa yüklendiğinde ortak tahmini almak için bir istek yapma
    window.onload = function() {
        fetch('/predict_combined')
            .then(response => response.json())
            .then(data => {
                // Ortak tahmini gösterilecek paragraf elementine yazdırma
                document.getElementById('combinedEmotion').innerText = 'Ortak Tahmin: ' + JSON.stringify(data.emotions);
            })
            .catch(error => {
                console.error('Error:', error);
            });
    };
</script>
{% endblock %}
